@font-face {
    font-family: 'Mulish';
    src: url('./assets/fonts/Mulish-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Mulish';
    src: url('./assets/fonts/Mulish-Semibold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Mulish';
    src: url('./assets/fonts/Mulish-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Mulish';
    src: url('./assets/fonts/Mulish-Black.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  
  :root {
    --ncl-blue-1: #027aff;
    --ncl-blue-2: #c9dcff;
    --ncl-blue-3: #d7e3fc;
    --ncl-blue-accent: #e9f0ff;
    --ncl-error: #f53151;
    --ncl-error-accent-1: #ffe3e8;
    --ncl-error-accent-2: #fddde2;
    --ncl-error-accent-3: #ffb6c2;
    --ncl-positive-1: #46be63;
    --ncl-positive-2: #00d264;
    --ncl-positive-3: #00ff5a;
    --ncl-positive-4: #258356;
    --ncl-positive-5: #2ea44f;
    --ncl-positive-6: #298a41;
    --ncl-positive-7: #46bd63;
    --ncl-positive-accent-1: #daf8e8;
    --ncl-positive-accent-2: #e6f5e8;
    --ncl-sea-green: #00bd9a;
    --ncl-purple: #644bc4;
    --ncl-pale-red: #ff7587;
    --ncl-cobalt: #2f95d6;
    --ncl-shale-1: #333;
    --ncl-shale-2: #65676b;
    --ncl-gray-1: #b9c5d4;
    --ncl-gray-2: #e1e4e8;
    --ncl-gray-3: #d8d8d8;
    --ncl-gray-4: #f1f3f4;
    --primary-text-color: #000;
    --primary-button-background: #027aff;
    --primary-button-background-dark: #1f74d4;
    --primary-button-background-border-color: #2a303626;
    --primary-button-background-border-color-dark: #1b1f2326;
    --primary-button-hover-shadow: 0 1px 0 rgba(27, 31, 35, 0.1);
    --primary-button-hover-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
    --secondary-button-background: #fff;
    --toolbar-button-background: #e0e5ed;
    --outline-button-hover: #f5faff;
    --action-button-background: #dce0e4;
    --action-button-text: #5e6670;
    --modal-secondary-button-background: #e0e5ed;
    --tab-active-background: #c9dcff;
    --tab-inactive-background: #e0e5ed;
    --primary-button-text: #fff;
    --secondary-button-text: #000;
    --scrollbar-gray: #cccdd0;
    --gray-text-area: #edf0f4;
    --header-bar: #fff;
    --tab-active-text: #027aff;
    --blue-link-text: #027aff;
    --blue-link-text-hover: #0067d9;
    --dashboard-background: #f6f6f9;
    --dialog-mask: #677092b3;
    --card-background: #fff;
    --sidebar-background: #fff;
    --pane-background: #fff;
    --search-input-background: #f7f8fa;
    --gray-selected-accent: #eff3f88e;
    --gray-disabled-background-1: #e6eaf5;
    --gray-disabled-background-2: #d8dbe2;
    --blue-selected-accent: #eef6fd;
    --input-field-gray-1: #e9eff4;
    --input-field-gray-2: #f5f5f7;
    --avatar-disabled-gray: hsl(225, 22%, 48%);
    --subtitle-text-gray-1: #aaafb6;
    --secondary-select-button: #aaafb6;
    --subtitle-text-gray-2: #878e99;
    --gray-button-1: #444756;
    --message-header-text: #878e99;
    --card-border: #c3cad6;
    --toolbar-active-background: #d7e3fc;
    --toolbar-active-text: #027aff;
    --hover-active-text: #027aff;
    --top-bar: #fff;
    --top-bar-dark: #24292e;
    --light-divider: #e8e9eb;
    --dark-divider: #444d566b;
    --chat-inbound-background: #e0e5ed;
    --chat-outbound-background: #000;
    --divider-gray-1: #e0e0e0;
    --divider-gray-2: #e1e5ee;
    --divider-gray-3: #c7cbd4;
    --tab-gray-header: #767684;
    --tab-gray: #2b2a35;
    --pathname-active-background: #e6ecf5;
    --folder-node: #e4a827;
    --folder-node-shadow: #e4a82767;
    --folder-node-divider: #eeeff2;
    --pdf-node: #f02d45;
    --pdf-node-shadow: #f02d4467;
    --doc-node: #027aff;
    --doc-node-shadow: #027aff67;
    --sheet-node: #36a15b;
    --sheet-node-shadow: #36a15b67;
    --editor-black: #000;
    --editor-gray: #7f7f7f;
    --editor-light-gray: #bfbfbf;
    --editor-white: #fff;
    --editor-text-orange: #f90;
    --editor-text-yellow: #fb0;
    --editor-text-turquoise: #7adcb5;
    --editor-text-green: #4fb847;
    --editor-text-light-blue: #8dd1fc;
    --editor-text-blue: #0693e5;
    --editor-text-red: #eb144e;
    --editor-text-pink: #f78da7;
    --editor-text-purple: #9900d1;
    --editor-highlight-orange: #ffcc80;
    --editor-highlight-yellow: #ffdd80;
    --editor-highlight-turquoise: #aeead2;
    --editor-highlight-green: #b9e2b6;
    --editor-highlight-light-blue: #cdebfe;
    --editor-highlight-blue: #6ac6fb;
    --editor-highlight-red: #f37295;
    --editor-highlight-pink: #fccfda;
    --editor-highlight-purple: #f1ccff;
    --editor-highlight-transparent: rgba(255, 255, 255, 0);
    --chat-mention-outbound-background: rgb(0, 84, 204, 0.42);
    --chat-mention-inbound-background: rgba(162, 199, 255, 0.6);
    --chat-mention-outbound-text: rgb(0, 147, 255);
    --chat-mention-inbound-text: rgb(0, 119, 255);
    --chat-mention-inbound-hover-background: rgba(115, 171, 255, 0.6);
    --chat-mention-outbound-hover-background: rgba(50, 132, 248, 0.5);
    --chat-mention-inbound-hover-text: rgb(0, 98, 210);
    --chat-mention-outbound-only-background: rgba(162, 199, 255, 0.6);
    --chat-mention-outbound-only-background-hover: #dde9fc;
    --chat-mention-outbound-only-text: rgb(0, 119, 255);
    --banner-box-shadow: rgba(0, 0, 0, 0.07) 0 0 18px 5px;
    --card-box-shadow: rgba(0, 0, 0, 0.07) 0 0 32px 13px;
    --login-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.09);
    --button-shadow: 0 0 73px -7px rgba(0, 0, 0, 0.34);
    --sidebar-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    --menu-box-shadow: 0 6px 4px -7px rgba(0, 0, 0, 0.25);
    --filter-chat-mention-outbound-icon: brightness(0) saturate(100%) invert(71%)
      sepia(54%) saturate(7460%) hue-rotate(197deg) brightness(104%)
      contrast(110%);
    --filter-chat-mention-inbound-icon: brightness(0) saturate(100%) invert(36%)
      sepia(69%) saturate(4706%) hue-rotate(201deg) brightness(101%);
    --filter-blue-icon: brightness(0) saturate(100%) invert(34%) sepia(26%)
      saturate(5795%) hue-rotate(201deg) brightness(101%) contrast(106%);
    --filter-red-icon: brightness(0) saturate(100%) invert(31%) sepia(99%)
      saturate(2878%) hue-rotate(332deg) brightness(96%) contrast(100%);
    --filter-green-icon: brightness(0) saturate(100%) invert(50%) sepia(12%)
      saturate(2577%) hue-rotate(84deg) brightness(103%) contrast(85%);
    --filter-purple-icon: brightness(0) saturate(100%)  invert(35%) sepia(100%) 
      saturate(5693%) hue-rotate(252deg) brightness(105%) contrast(101%);
    --filter-white-icon: brightness(0) saturate(100%) invert(100%) sepia(4%)
      saturate(16%) hue-rotate(152deg) brightness(107%) contrast(103%);
    --filter-gray-1-icon: brightness(0) saturate(100%) invert(46%) sepia(55%)
      saturate(25%) hue-rotate(324deg) brightness(101%) contrast(90%);
    --filter-gray-2-icon: brightness(0) saturate(100%) invert(56%) sepia(4%)
      saturate(1462%) hue-rotate(176deg) brightness(88%) contrast(86%);
    --filter-black-icon: brightness(0) saturate(100%);
  }