.item {
  padding: 6px 8px;
}
.item:hover {
  background-color: #f5faff;
  color: #027aff;
}

.item:hover > img {
  filter: brightness(0) saturate(100%) invert(34%) sepia(26%)
  saturate(5795%) hue-rotate(201deg) brightness(101%) contrast(106%) !important;
}