.textInput {
  border-width: 1px !important;
  border-radius: 4px !important;
  border-color: var(--ncl-gray-3) !important;
  font-size: 14px !important;
  text-align: left;
  background-color: rgb(252, 252, 252);
}

.textInput:focus {
  outline: none !important;
  border: 1px solid var(--ncl-blue-1) !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}