// * VARIABLES
$positions: (
  'bottom': (100%, null, null, 50%),
  'left':  (50%, 100%, null, null),
  'top':  (null, null, 100%, 50%),
  'right': (50%, null, null, 100%)
);

// * MIXINS
@mixin position($offsets) {
  top: nth($offsets, 1);
  right: nth($offsets, 2);
  bottom: nth($offsets, 3);
  left: nth($offsets, 4);
};

@mixin get-margin($index, $value) {
  // generate list of zeros, setting array at index to value
  $margins: (0, 0, 0, 0);
  $margins: set-nth($margins, $index, $value);
  margin: nth($margins, 1) nth($margins, 2) nth($margins, 3) nth($margins, 4);
}

@mixin get-transform($index) {
  $translateValue: (0, -50%);
  @if ($index % 2 == 1) {
    $translateValue: (-50%, 0);
  }
  transform: translate($translateValue);
}

// * STATIC STYLES
.nwtooltip .nwtooltip-tip {
  opacity: 0;
  transition: 330ms all;
}

.nwtooltip:hover .nwtooltip-tip {
  opacity: 1;
}

.nwtooltip-tip {
  position: absolute;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.8);
  font-family: 'Mulish';
  color: white;
  font-size: 14px;
  line-height: 1;
  z-index: 100;
  border-radius: 4px;
  max-width: 200px;
  width: max-content;
  overflow-wrap: break-word;
  transition: 330ms all;
}

// * DYNAMIC STYLES
@each $pos, $offsets in $positions {
  .nwtooltip-tip.#{$pos} {
    $i: index(($positions), ($pos $offsets));
    @include position($offsets);
    @include get-margin($i, 5px);
    @include get-transform($i);          
  }
}
